
<!-- <h1>Einkaufsliste</h1> -->

<span>Einkaufsliste</span>

<div class="itemContainer">
    <app-item
    *ngFor="let item of neededItems$ | async"
    [id]="item.id"
    [title]="item.title"
    [status]="item.status">
    </app-item>
</div>

<form class="input" >
    <input placeholder="Artikel hinzufügen" type="text" name="addItem" [(ngModel)]="newItemtitle">
    <button (click)="addItem()">
        <img src="./../assets/add.svg" alt="">
    </button>

</form>

<span>Zuletzt verwendet</span>
<div class="itemContainer">
    <app-item
    *ngFor="let item of completedItems$ | async"
    [id]="item.id"
    [title]="item.title"
    [status]="item.status">
    </app-item>
</div>
